.container {
  background-image: url('../public/photos/background_IMG_2253.JPG');
  background-size: cover; 
  background-position: center;
  height: 100vh; 
  width: 100%;
}
h1{
  text-align: center;
  font-size: 6rem;
}